body{
  padding-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(./assets/modern-apartment-with-comfortable-sofa-decor-generated-by-ai.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-section{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  transition: background-color 0.3s ease;

  position: fixed;
  top: 0;

  z-index: 100;
}

.logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo > img{
  height: 30px;
}

h3{
  align-self: center;
  color: white;
}

.left-section{
  height: 50px;
  display: flex;
}

.right-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 50px;
  color: white;
  margin-right: 10px;
}

.cta-button{
  height: 40px;
  padding: 2px 16px;
  margin-right: 10px;
  background-color: black;
  border-radius: 20px;
  border: none;
  color: #ED7D31;
  transition: all ease 0.2s;
}

.cta-button:hover{
  background-color: #ED7D31;
  color: black;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #ED7D31;
}

h1{
  font-size: 5em;
}

.contact-section{
  max-width: 600px;
  width: 90%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.contact-section h2{
  font-size: 2em;
  margin-bottom: 8px;
}

.contact-section p{
  margin-bottom: 10px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-form label{
  display: block;
  margin-top: 10px;
  font-size: 1em;
}

.contact-form input,
.contact-form textarea{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: none;
  font-size: 1em;
}

.contact-form button{
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #ED7D31;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.contact-form button:hover{
  background-color: #9e4810;
}

@media (max-width: 800px){
  .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo > img{
    height: 20px;
  }

  .right-section{
    gap: 20px;
  }

  .cta-button{
    scale: 0.6;
  }
  
  h3{
    align-self: center;
    color: white;
    font-size: xx-small;
  }

  a{
    font-size: xx-small;
  }

  .footer-details{
    font-size: xx-small;
  }

  .footer-links{
    font-size: xx-small;
  }

  .footer-links li{
    font-size: xx-small;
  }

  .container{
    gap: 20px;
  }

  .container p{
    font-size: xx-small;
  }
}